* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  background-color: #111720;
  color: white;
  padding: 35px;
  margin: -25px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 100px;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sketch-grid {
  border: 2px solid rgb(7, 214, 241);
  border-radius: 5px;
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

.grid-box {
  border-radius: 5px;
  border: 2px solid grey;
  display: grid;
  box-sizing: border-box;
}

.btn-control {
  padding: 5px;
  background: transparent;
  border: 3px solid black;
  border-radius: 5px;
  transition: 250ms ease-in-out;
  padding: 10px;
  width: 150px;
}

.btn-control:hover {
  background-color: rgb(0, 250, 12);
  color: white;
}